<% include ./partials/header.ejs%>
<div class="w-full h-screen bg-[url('https://images.unsplash.com/photo-1502741282025-a9c6a20aa697?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] flex items-center justify-center bg-center ">
  <div class="w-[30vw]  bg-white px-20 py-10 rounded-[20px] ">
   <h1 class="text-3xl mb-5 text-center tracking-tighter font-semibold text-zinc-700 capitalize leading-none">Unlimited free access to the world's best ideas</h1>
   <form action="/register" method="post">
    <input class="border-2 rounded-md mt-2 w-full px-3 py-2" type="text" name="username" placeholder="username" required>
    <input class="border-2 rounded-md mt-2 w-full px-3 py-2" type="email" name="email" placeholder="email" required>
    <input class="border-2 rounded-md mt-2 w-full px-3 py-2" type="number" name="contact" placeholder="contact" required>
    <input class="border-2 rounded-md mt-2 w-full px-3 py-2" type="password" name="password" placeholder="password" required>
    <input class="border-2  mt-5 w-full px-3 py-2 bg-red-600 text-white rounded-full hover:bg-red-700" type="submit" value="Create New Account">
    <p class="text-xs font-semibold text-zinc-700 mt-7  w-3/4 text-center mx-auto">By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge you've read our Privacy Policy; Notice at collection; Opens a new tab.</p>
   </form>
   <a class="inline-block mt-7 text-sm font-black text-zinc-700 text-center w-full hover:underline underline-offset-4 " href="/">Login Existing Account</a>
  </div>
</div>

<% include ./partials/footer.ejs%>